body {
			background-color: #F5E5D7;
			font-family: Times New Roman, sans-serif;
			color: #454545;
			margin: 0;
			padding: 0;
		}
		h1, h2 {
			text-align: center;
			margin-top: 50px;
		}
		h1 {
			font-size: 3em;
			color: #2E86C1;
		}
		h2 {
			font-size: 2em;
			color: #2471A3;
		}
		p {
			text-align: center;
			font-size: 1.2em;
			margin: 20px 0;
		}
		a {
			color: #2471A3;
			text-decoration: none;
		}
		a:hover {
			text-decoration: bold;
		}
		ul {
			list-style: none;
			margin: 30px auto;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		li {
			margin: 10px;
			padding: 10px;
			background-color: #FFFFFF;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
			border-radius: 5px;
			transition: box-shadow 0.2s ease-in-out;
		}
		li:hover {
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			height: auto;
			border-radius: 5px;
		}
